@font-face {
    font-family: "Eras Bold ITC";
    src: url(ErasBoldITC.woff);
  }

html,
body {
    
    font-family: "Eras Bold ITC" ;
    /* on supprimme les marges html */
    margin: 0;
    padding: 0;
    /* on cache les scroll */
    overflow: hidden;
    /* on empecheche la sélection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}